In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('cheat_analysis.csv')
df = df.dropna()

In [3]:
df.head()

,Unnamed: 0,created_on,property_type,barrio,place_name,lat,lon,price usd,b_id
0,0,8/8/2014,apartment,BARRACAS,BARRACAS,-34.633020,-58.375759,180000.00,32.0
1,1,8/8/2014,apartment,BARRACAS,BARRACAS,-34.632264,-58.376104,150000.00,32.0
2,2,11/27/2015,house,BARRACAS,BARRACAS,-34.632004,-58.375838,95000.00,32.0
3,3,11/28/2015,store,BARRACAS,BARRACAS,-34.632249,-58.376070,4977.43,32.0
4,4,11/10/2015,apartment,BARRACAS,BARRACAS,-34.631790,-58.375511,165000.00,32.0

In [4]:
cheat_df = df[df['barrio'] != df['place_name']]

In [5]:
cheat_df.head()

,Unnamed: 0,created_on,property_type,barrio,place_name,lat,lon,price usd,b_id
5,5,6/17/2015,house,BARRACAS,PARQUE LELOIR,-34.632828,-58.375271,185000.0,32.0
12,12,10/31/2016,house,BARRACAS,CAPITAL FEDERAL,-34.633159,-58.374513,1200000.0,32.0
13,13,3/21/2017,house,BARRACAS,CAPITAL FEDERAL,-34.633159,-58.374513,1200000.0,32.0
14,14,3/21/2017,house,BARRACAS,CAPITAL FEDERAL,-34.633159,-58.374513,2200000.0,32.0
25,25,2/10/2017,PH,BARRACAS,SAN TELMO,-34.628743,-58.370724,220000.0,32.0

In [6]:
cheat_df.reset_index(inplace=True)
cheat_df['place_name'] = (cheat_df['place_name'].apply(lambda x: str(x.replace('NUNEZ', 'NUÑEZ'))))
cheat_df['place_name'] = (cheat_df['place_name'].apply(lambda x: str(x.replace('NU?ÆEZ', 'NUÑEZ'))))
cheat_df['place_name'] = (cheat_df['place_name'].apply(lambda x: str(x.replace('NU?EZ', 'NUÑEZ'))))
cheat_df['place_name'] = (cheat_df['place_name'].apply(lambda x: str(x.replace('GOGHLAND', 'COGHLAN'))))
cheat_df['place_name'] = (cheat_df['place_name'].apply(lambda x: str(x.replace('PARQUE AVELLANED', 'PARQUE AVELLANEDA'))))
cheat_df['place_name'] = (cheat_df['place_name'].apply(lambda x: str(x.replace('SARSFIELD', 'SARFIELD'))))
cheat_df['place_name'] = (cheat_df['place_name'].apply(lambda x: str(x.replace('VILLA GRAL. MITRE', 'VILLA GENERAL MITRE'))))
cheat_df['place_name'] = (cheat_df['place_name'].apply(lambda x: str(x.replace('VILLA GRAL. MITR', 'VILLA GENERAL MITRE'))))
cheat_df['place_name'] = (cheat_df['place_name'].apply(lambda x: str(x.replace('VILLA GRAL MITRE', 'VILLA GENERAL MITRE'))))
cheat_df['place_name'] = (cheat_df['place_name'].apply(lambda x: str(x.replace('VILLA PUYRREDON', 'VILLA PUEYRREDON'))))
cheat_df['place_name'] = (cheat_df['place_name'].apply(lambda x: str(x.replace('PARQUE AVELLANEDAA', 'PARQUE AVELLANEDA'))))
cheat_df['place_name'] = (cheat_df['place_name'].apply(lambda x: str(x.replace('VERSALLES', 'VERSAILLES'))))
cheat_df['place_name'] = (cheat_df['place_name'].apply(lambda x: str(x.replace('MONSERRAT', 'MONTSERRAT'))))
cheat_df['place_name'] = (cheat_df['place_name'].apply(lambda x: str(x.replace('SAN NICOLAS', 'CAPITAL FEDERAL'))))

/home/rocket/miniconda3/envs/casas/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/rocket/miniconda3/envs/casas/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/rocket/miniconda3/envs/casas/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/home/rocket/miniconda3/envs/casas/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/home/rocket/miniconda3/envs/casas/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/rocket/miniconda3/envs/casas/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/home/rocket/miniconda3/envs/casas/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/rocket/miniconda3/envs/casas/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/rocket/miniconda3/envs/casas/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/home/rocket/miniconda3/envs/casas/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/home/rocket/miniconda3/envs/casas/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/home/rocket/miniconda3/envs/casas/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/home/rocket/miniconda3/envs/casas/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/rocket/miniconda3/envs/casas/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [7]:
pd.Series(sorted(cheat_df.place_name.unique()))

0                                ABASTO
1                              ACASSUSO
2                               ADROGUE
3                             AGRONOMIA
4                               ALMAGRO
5                            AVELLANEDA
6                                  AZUL
7                          BAHIA BLANCA
8                             BALVANERA
9                              BARRACAS
10                        BARRIO CEIBOS
11                         BARRIO NORTE
12       BARRIO PARQUE ALMIRANTE IRIZAR
13     BARRIO PARQUE GENERAL SAN MARTIN
14           BARRIO SAN ISIDRO LABRADOR
15                             BELGRANO
16                          BELLA VISTA
17                            BENAVIDEZ
18                          BERAZATEGUI
19                                 BOCA
20                                BOEDO
21             BS.AS. G.B.A. ZONA NORTE
22             BS.AS. G.B.A. ZONA OESTE
23         BUENOS AIRES COSTA ATLANTICA
24                            CABALLITO
25                              CAMPANA
26                    CAMPOS DE ALVAREZ
27                              CANNING
28                      CAPITAL FEDERAL
29                           CARAPACHAY
                     ...
155                          TRIBUNALES
156                         VALLE CLARO
157                      VELEZ SARFIELD
158                          VERSAILLES
159                      VICENTER LOPEZ
160                            VICTORIA
161                       VILLA ADELINA
162                         VILLA ARIZA
163                     VILLA BALLESTER
164                        VILLA CRESPO
165                    VILLA DEL PARQUE
166                        VILLA DEVOTO
167                        VILLA ELVIRA
168                 VILLA GENERAL MITRE
169                        VILLA GESELL
170                        VILLA LUGANO
171                          VILLA LURO
172                         VILLA LYNCH
173                      VILLA MARTELLI
174                       VILLA ORTUZAR
175                    VILLA PUEYRREDON
176                         VILLA RAFFO
177                          VILLA REAL
178                    VILLA SANTA RITA
179                     VILLA SARMIENTO
180                       VILLA SOLDATI
181                       VILLA UDAONDO
182                       VILLA URQUIZA
183                          VILLANUEVA
184                      ZONA PORTUARIA
Length: 185, dtype: object

In [8]:
cheat_df.sort_values(['barrio', 'place_name'])

,index,Unnamed: 0,created_on,property_type,barrio,place_name,lat,lon,price usd,b_id
36940,115424,115424,4/30/2015,PH,AGRONOMIA,CAPITAL FEDERAL,-34.599444,-58.478808,120000.0,25.0
36971,115496,115496,6/6/2015,house,AGRONOMIA,CAPITAL FEDERAL,-34.590113,-58.486301,418000.0,25.0
36938,115422,115422,4/18/2015,store,AGRONOMIA,FLORIDA,-34.598245,-58.482125,220000.0,25.0
36964,115483,115483,7/18/2017,house,AGRONOMIA,PARQUE CHAS,-34.590001,-58.489973,95000.0,25.0
36969,115494,115494,11/21/2014,house,AGRONOMIA,PARQUE CHAS,-34.590113,-58.486301,418000.0,25.0
36939,115423,115423,12/9/2015,apartment,AGRONOMIA,PATERNAL,-34.599528,-58.478801,110000.0,25.0
37068,115656,115656,4/5/2016,apartment,AGRONOMIA,PATERNAL,-34.597560,-58.485646,81000.0,25.0
36984,115521,115521,2/5/2015,apartment,AGRONOMIA,SAN MARTIN,-34.597848,-58.483100,70000.0,25.0
37000,115555,115555,5/6/2015,apartment,AGRONOMIA,SAN MARTIN,-34.596929,-58.494634,200000.0,25.0
37064,115652,115652,5/27/2015,apartment,AGRONOMIA,SAN MARTIN,-34.597383,-58.488169,128500.0,25.0
37074,115663,115663,9/15/2017,PH,AGRONOMIA,SAN MARTIN,-34.597489,-58.486657,110000.0,25.0
36941,115431,115431,2/12/2017,apartment,AGRONOMIA,VILLA DEL PARQUE,-34.595346,-58.486984,295000.0,25.0
36943,115445,115445,11/27/2017,apartment,AGRONOMIA,VILLA DEL PARQUE,-34.596477,-58.484376,93000.0,25.0
36960,115475,115475,6/20/2017,apartment,AGRONOMIA,VILLA DEL PARQUE,-34.590303,-58.488854,115000.0,25.0
36963,115481,115481,6/20/2017,apartment,AGRONOMIA,VILLA DEL PARQUE,-34.590374,-58.488890,180000.0,25.0
36977,115512,115512,5/19/2015,apartment,AGRONOMIA,VILLA DEL PARQUE,-34.594405,-58.498904,115000.0,25.0
36981,115517,115517,10/5/2017,store,AGRONOMIA,VILLA DEL PARQUE,-34.596454,-58.496850,79000.0,25.0
36982,115518,115518,9/6/2017,store,AGRONOMIA,VILLA DEL PARQUE,-34.595354,-58.497874,49000.0,25.0
36983,115520,115520,4/24/2015,apartment,AGRONOMIA,VILLA DEL PARQUE,-34.597848,-58.483100,180000.0,25.0
36988,115539,115539,9/23/2014,apartment,AGRONOMIA,VILLA DEL PARQUE,-34.594900,-58.499782,115000.0,25.0
37007,115567,115567,11/25/2016,PH,AGRONOMIA,VILLA DEL PARQUE,-34.594272,-58.494997,259000.0,25.0
37009,115569,115569,5/30/2017,apartment,AGRONOMIA,VILLA DEL PARQUE,-34.597002,-58.493737,60000.0,25.0
37013,115577,115577,11/25/2016,apartment,AGRONOMIA,VILLA DEL PARQUE,-34.594272,-58.494997,110000.0,25.0
37017,115583,115583,11/9/2017,PH,AGRONOMIA,VILLA DEL PARQUE,-34.595362,-58.494940,185000.0,25.0
37036,115619,115619,8/18/2015,house,AGRONOMIA,VILLA DEL PARQUE,-34.595880,-58.497582,250000.0,25.0
37038,115621,115621,7/22/2015,house,AGRONOMIA,VILLA DEL PARQUE,-34.595164,-58.498575,0.0,25.0
37046,115630,115630,11/11/2016,apartment,AGRONOMIA,VILLA DEL PARQUE,-34.596435,-58.498137,78000.0,25.0
37054,115640,115640,4/28/2017,apartment,AGRONOMIA,VILLA DEL PARQUE,-34.596006,-58.499346,85000.0,25.0
37059,115646,115646,11/2/2017,apartment,AGRONOMIA,VILLA DEL PARQUE,-34.595700,-58.497900,88000.0,25.0
37066,115654,115654,3/16/2016,PH,AGRONOMIA,VILLA DEL PARQUE,-34.597593,-58.484183,0.0,25.0
...,...,...,...,...,...,...,...,...,...,...
28310,91637,91637,10/16/2015,apartment,VILLA URQUIZA,VILLA PUEYRREDON,-34.566408,-58.480461,52891.0,14.0
28311,91638,91638,10/16/2015,apartment,VILLA URQUIZA,VILLA PUEYRREDON,-34.566408,-58.480461,52891.0,14.0
28312,91640,91640,10/16/2015,apartment,VILLA URQUIZA,VILLA PUEYRREDON,-34.566408,-58.480461,48213.0,14.0
28313,91641,91641,10/16/2015,apartment,VILLA URQUIZA,VILLA PUEYRREDON,-34.566408,-58.480461,48213.0,14.0
28314,91642,91642,10/16/2015,apartment,VILLA URQUIZA,VILLA PUEYRREDON,-34.566408,-58.480461,101104.0,14.0
28315,91643,91643,10/16/2015,apartment,VILLA URQUIZA,VILLA PUEYRREDON,-34.566408,-58.480461,84365.0,14.0
28318,91646,91646,10/16/2015,apartment,VILLA URQUIZA,VILLA PUEYRREDON,-34.566408,-58.480461,83969.0,14.0
28333,91703,91703,9/27/2014,PH,VILLA URQUIZA,VILLA PUEYRREDON,-34.563722,-58.487735,79000.0,14.0
28334,91705,91705,8/2/2015,apartment,VILLA URQUIZA,VILLA PUEYRREDON,-34.563616,-58.489180,89500.0,14.0
28347,91754,91754,9/20/2014,apartment,VILLA URQUIZA,VILLA PUEYRREDON,-34.568201,-58.498189,84000.0,14.0
28348,91755,91755,8/11/2014,apartment,VILLA URQUIZA,VILLA PUEYRREDON,-34.568201,-58.498189,89000.0,14.0
28349,91756,91756,9/20/2014,apartment,VILLA URQUIZA,VILLA PUEYRREDON,-34.568201,-58.498189,84000.0,14.0
28350,91757,91757,4/30/2015,PH,VILLA URQUIZA,VILLA PUEYRREDON,-34.568387,-58.496962,113900.0,14.0
28353,91796,91796,8/2/2015,apartment,VILLA URQUIZA,VILLA PUEYRREDON,-34.573419,-58.473036,159000.0,14.0
28354,91797,91797,8/2/2015,apartment,VILLA URQUIZA,VILLA PUEYRREDON,-34.573419,-58.473036,169000.0,14.0
28355,91798,91798,8/2/2015,apartment,VILLA URQUIZA,VILLA PUEYRREDON,-34.573419,-58.473036,114000.0,14.0
28396,91886,91886,1/24/2017,house,VILLA URQUIZA,VILLA PUEYRREDON,-34.569934,-58.501326,295000.0,14.0
28397,91928,91928,5/16/2017,apartment,VILLA URQUIZA,VILLA PUEYRREDON,-34.574892,-58.500308,167000.0,14.0
28399,92003,92003,4/19/2016,apartment,VILLA URQUIZA,VILLA PUEYRREDON,-34.571655,-58.502038,87000.0,14.0
28400,92006,92006,4/19/2016,apartment,VILLA URQUIZA,VILLA PUEYRREDON,-34.571655,-58.502038,89000.0,14.0
28401,92007,92007,4/13/2017,apartment,VILLA URQUIZA,VILLA PUEYRREDON,-34.572796,-58.504171,98000.0,14.0
28403,92061,92061,5/12/2017,PH,VILLA URQUIZA,VILLA PUEYRREDON,-34.575377,-58.486035,200000.0,14.0
28406,92119,92119,5/1/2015,apartment,VILLA URQUIZA,VILLA PUEYRREDON,-34.576448,-58.489553,319000.0,14.0
28407,92141,92141,9/23/2015,apartment,VILLA URQUIZA,VILLA PUEYRREDON,-34.580012,-58.481448,163000.0,14.0
28430,92248,92248,6/11/2015,PH,VILLA URQUIZA,VILLA PUEYRREDON,-34.570373,-58.502358,85000.0,14.0
28431,92262,92262,7/18/2015,apartment,VILLA URQUIZA,VILLA PUEYRREDON,-34.563765,-58.483804,132000.0,14.0
28450,92391,92391,7/20/2017,apartment,VILLA URQUIZA,VILLA PUEYRREDON,-34.580002,-58.488495,218000.0,14.0
28455,92416,92416,12/15/2015,apartment,VILLA URQUIZA,VILLA PUEYRREDON,-34.579493,-58.484938,97000.0,14.0
28458,92450,92450,4/30/2015,apartment,VILLA URQUIZA,VILLA PUEYRREDON,-34.582079,-58.489301,215000.0,14.0
28460,92457,92457,4/7/2016,apartment,VILLA URQUIZA,VILLA PUEYRREDON,-34.572539,-58.488743,115000.0,14.0

In [9]:
barrios_df = pd.read_csv('../../data/barrio_table.csv')

In [10]:
barrio_strings = barrios_df['Barrio'].values
barrios_df.head()

          Barrio  id
0        PALERMO   0
1       BELGRANO   1
2          NUÑEZ   2
3  VILLA ORTUZAR   3
4      BALVANERA   4

In [11]:
'PALERMO' in barrio_strings

True

In [12]:
cheat_df['true_mismatch'] = [i in barrio_strings for i in cheat_df.place_name]

/home/rocket/miniconda3/envs/casas/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [13]:
cheat_df[cheat_df.true_mismatch == True].count()

index            23483
Unnamed: 0       23483
created_on       23483
property_type    23483
barrio           23483
place_name       23483
lat              23483
lon              23483
price usd        23483
b_id             23483
true_mismatch    23483
dtype: int64

In [14]:
cheat_df = cheat_df[cheat_df.true_mismatch]

In [15]:
cheat_df.reset_index(inplace=True)

In [16]:
cheat_df = cheat_df.drop(['level_0', 'index', 'Unnamed: 0', 'barrio', 'true_mismatch'], axis=1)

In [17]:
cheat_df.head()

,created_on,property_type,place_name,lat,lon,price usd,b_id
0,2/10/2017,PH,SAN TELMO,-34.628743,-58.370724,220000.00,32.0
1,11/4/2017,apartment,PALERMO,-34.627470,-58.370872,101370.35,32.0
2,7/7/2017,store,SAN TELMO,-34.629631,-58.371787,650000.00,32.0
3,9/11/2017,apartment,BOCA,-34.632895,-58.370343,200000.00,32.0
4,5/1/2015,apartment,PARQUE PATRICIOS,-34.630499,-58.376884,379500.00,32.0

In [18]:
cheat_df['c_b_id'] = [int(barrios_df[barrios_df.Barrio == i].id) for i in cheat_df.place_name]
cheat_df = cheat_df.drop('place_name', axis=1)

In [19]:
cheat_df.head()

  created_on property_type        lat        lon  price usd  b_id  c_b_id
0  2/10/2017            PH -34.628743 -58.370724  220000.00  32.0      41
1  11/4/2017     apartment -34.627470 -58.370872  101370.35  32.0       0
2   7/7/2017         store -34.629631 -58.371787  650000.00  32.0      41
3  9/11/2017     apartment -34.632895 -58.370343  200000.00  32.0      24
4   5/1/2015     apartment -34.630499 -58.376884  379500.00  32.0      40

In [20]:
cheat_df.to_csv('cheat_properties.csv')